body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh; /* Set body height to 100% of viewport height */
    display: flex;
    flex-direction: column; /* Stack child elements vertically */
}

header {
    background-color: #333;
    color: #fff;
    padding: 5px;
    text-align: left;
    vertical-align: middle;
    font-size: 54;
}

#logo {
    max-width: 100px;
    height: auto;
}

.container {
    display: flex;
    flex: 1; /* Grow to fill available space */
}

#middle {
    height: 80vh;
}

#left-container {
    flex: 1;
    background-color: #f2f2f2;
    overflow-y: auto;
    padding: 20px;
}

#right-container {
    flex: 1;
    padding: 20px;
}

#bottom-container {
    background-color: #ccc;
    padding: 20px;
}

form {
    margin-bottom: 20px;
}