/* styles.css */

/* Setting the background color */
body {
    background-color: #5f97ff;
    margin: 0;
    padding: 0;
    height: 100vh; /* Set body height to 100% of viewport height */
    display: flex;
    flex-direction: column;
}

header {
    padding: 20px;
    text-align: center;
}

/* Styling the heading */
h1 {
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
}

/* Styling the body */
p {
    color: #333;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Centering the image */
.center_profile {
    /*display: block;*/
    margin-left: auto;
    margin-right: auto;
}

/* Adding some style to links */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Styling for the profile pic */
.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Makes the image round */
    margin-right: 10px; /* Adds some space between the profile picture and the message */
    object-fit: cover;
}

.container {
    display: flex;
    flex: 1; /* Grow to fill available space */
}

#message-list {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
}

#registration {
    flex: 1;
    padding: 20px;
}

#logout {
    flex: 1;
    padding: 20px;
}

#entry-forms {
    padding: 20px;
}

form {
    margin-bottom: 20px;
}