body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh; /* Set body height to 100% of viewport height */
    display: flex;
    flex-direction: column; /* Stack child elements vertically */
}

header {
    background-color: #333;
    color: #fff;
    padding: 5px;
    text-align: left;
    vertical-align: middle;
    font-size: 54;
}

#logo {
    max-width: 100px;
    height: auto;
}

.container {
    display: flex;
    flex: 1; /* Grow to fill available space */
}

#middle {
    height: 80vh;
}

#left-container {
    flex: 1;
    background-color: #f2f2f2;
    overflow-y: scroll;
    padding: 20px;
}

.right-container {
    flex: 1;
    padding: 20px;
}

/* Styling for the message container */
.message-container {
  align-items: center;
  display: flex;
}

/* Styling for the message body */
.message-body {
    padding: 10px;
    border-radius: 5px;
}

/* Styling for the profile pic */
.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Makes the image round */
    margin-right: 10px; /* Adds some space between the profile picture and the message */
    object-fit: cover;
}

/* Styling for the message username */
.username {
    vertical-align: top;
    font-weight: bold;
}

/* Styling for the message div */
.messageDiv {
    list-style-type: none;
    margin: 10px 0; /* Set the top and bottom margins to 10px and the left and right to zero */
}

.messageDiv:hover {
    background-color:  #9E9E9E;  /*#616161*/
}


#bottom-container {
    background-color: #ccc;
    padding: 20px;
}

form {
    margin-bottom: 20px;
}