<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSE 312 Project</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
</head>
<body>

<header>
    <img src="images/transparent_mario_party_block.gif" width="100" height="100" class="center_profile"> Hello, {{ username }}!
</header>

<div class="container" id="middle">
    <div id="left-container">
        <h2>Messages</h2>
        <ul id="messages"></ul>
    </div>

    <div class="right-container">
        <!-- Registration Forms -->
        {% if not authenticated %}
            Register
            <form action="/register" method="post" enctype="application/x-www-form-urlencoded">
                <label>Username:
                    <input id="reg-form-username" type="text" name="username_reg"/>
                </label>
                <br/>
                <label>Password:&nbsp;
                    <input id="reg-form-pass" type="password" name="password_reg">
                </label>
                <br/>
                <label>Enter password again:&nbsp;
                    <input id="reg-form-pass2" type="password" name="password_reg2">
                </label>
                <input type="submit" value="Post">
            </form>

            <!-- Login Forms -->
            Login
            <form action="/login" method="post" enctype="application/x-www-form-urlencoded" id="login-form">
                <label>Username:
                    <input id="login-form-username" type="text" name="username_login"/>
                </label>
                <br/>
                <label>Password:&nbsp;
                    <input id="login-form-pass" type="password" name="password_login">
                </label>
                <input type="submit" value="Post">
            </form>
        {% else %}
            <!-- Logout Button -->
            <form action="/logout" method="post" name="logout-User" enctype="application/x-www-form-urlencoded" id="logout-user">
                <input type="submit" value="Logout">
            </form>
        {% endif %}
    </div>
</div>

<div class="container" id="bottom-container">
    <div class="right-container">
        <form id="message_form">
            <label for="body_text">Enter Message:</label><br>
            <input type="text" id="body_text" name="body_text"/><br>
            <input type="number" placeholder="Display duration (minutes)" id="display_duration">
            <button type="submit">Send</button>
        </form>
    </div>

    <div class="right-container">
        <form id="dice_form">
            <label for="body_text">Enter some <a href="https://github.com/fionafibration/py-rolldice#dice-syntax" target="_blank" rel="noreferrer noopener">Dice Syntax</a>:</label><br>
            <input type="text" id="dice_text" name="dice_text"/><br>
            <input type="number" placeholder="Display duration (minutes)" id="display_durations">
            <button type="submit">Send</button>
        </form>
    </div>

    <div class="right-container">
        <!-- Uploading images -->
        {% if authenticated %}
        <form action="/upload-profile-pic" id="image-form" method="post" enctype="multipart/form-data">
            {% if not profile_pic %}
                <label for="form-file">Upload A Profile Pic: </label>
            {% else %}
                <label for="form-file">Change Your Profile Pic: </label>
            {% endif %}
            <input id="form-file" type="file" name="file">
            <input type="submit" value="Post">
        </form>
        {% else %}
            <p>Please log in to upload a profile pic!</p>
        {% endif %}
    </div>
</div>
<script src="scripts/websockets.js"></script>
</body>
</html>
